.pagination-active {
    width: 25px !important;
    height: 25px !important;
    background-color: var(--secondColor) !important;
}
@media (max-width: 612px) {
    .pagination-active {
        background-color: var(--backColor) !important;
    }
}