.swiper-pagination-test {
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.swiper_pagination_item-test {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--backColor);
}